html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#invoice_header {
	height: 170px;
	display:block;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#invoice_container {
	padding-left: 89px;
	padding-right: 89px;
}

#company_logo {
	margin-top: 5px;
	float:left;
}

#invoice_info {
	display: inline-block;
	position: relative;
	width: 400px;
	float: right;
	margin-top: 40px;
	text-align: right;
}

.invoice_label {
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
}

.invoice_date {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #656666;
	display: block;
	padding-bottom: 5px;
}

.invoice_duedate {
	font-family: 'Open Sans', sans-serif;
	color: #cb3130;
	font-size: 14px;
}
.invoice_duedate > span {
	font-weight: 600;
}

/* 
 *
 * Bottom Area
 *
 */

.info-box {
	width:100%;
	height: 178px;
}
.box-left {
	width: 389px;
	border: 1px solid #eeeded;
	float: left;
}
.box-right {
	width: 389px;
	border: 1px solid #eeeded;
	float: right;
}
.box-header {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-weight: 600;
	margin: 3px;
	padding: 4px;
	padding-left: 7px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-radius: 5px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	background: #43a7c8;
	border: 1px solid #3190ac;
}
.box-company-info {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	background: #f6f6f6;
	color:#656666;
	height: 138px;
	display: block !important;
	margin: 3px;
	padding: 10px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color: #3a3e3f;
	font-weight: 600;
}

#invoice_table {
	width: 100%;
	border: 1px solid #eeeded;
}

#invoice_table > thead > tr {
	background: #FFF;
	
}

#invoice_table > thead > tr > td {
	background: #3f4445;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 13px;
	padding: 10px;
	
}

#invoice_table > thead > tr > :first-child {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
}
#invoice_table > thead > tr > :last-child {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#invoice_table > tbody > tr > td {
	font-family: 'Open Sans', sans-serif;
	color: #656666;
	font-size: 13px;
	background: #f6f6f6;
	padding: 15px;
	border: 1px solid #fff;
	margin-top: 5px;
	margin-bottom: 5px;
}

#invoice_table > tbody > tr > :first-child {
	text-align: center;
}

#invoice_table > thead > tr > :last-child {
	text-align: center;
}
#invoice_table > tbody > tr > :last-child {
	text-align: center;
}

#totals_box {
	width: 270px;
	height: 280px;
	float: right;
}
#totals_header {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-weight: 600;
	padding: 4px;
	padding-left: 7px;
	-webkit-border-radius: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #43a7c8;
	border: 1px solid #3190ac;
	height: 40px;
}
#totals_header > span {
	position: absolute;
	margin-top: 12px;
	margin-left: 120px;
}
#totals_table {
	width: 100%;
	border: 1px solid #eeeded;
	border-collapse: separate;
	border-spacing: 2px;
}
#totals_table > tbody > tr > td {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #6d6c6c;
	font-size: 16px;
	padding: 15px;
	background: #f6f6f6;
}
#totals_table > tbody > tr > :first-child {
	font-weight: 600;
}
#totals_table > tbody > tr > :last-child {
	text-align: right;
}
.total_label {
	font-size: 17px !important;
	color: #4d4c4c !important;
}
.total_price {
	font-size: 19px !important;
}

.paypal-button {
    white-space: nowrap;
}
.paypal-button button {
    background: none repeat scroll 0 0 #FFA823;
    border: 1px solid #FFA823;
    border-radius: 13px 13px 13px 13px;
    color: #0E3168;
    cursor: pointer;
    font-family: "Arial",bold,italic;
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    z-index: 0;
}
.paypal-button button:before {
    background: -moz-linear-gradient(center top , #FFAA00 0%, #FFAA00 80%, #FFF8FC 100%) repeat scroll 0 0 transparent;
    border-radius: 11px 11px 11px 11px;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}
.paypal-button button:after {
    background: -moz-linear-gradient(center top , #FEFEFE 0%, #FED994 100%) repeat scroll 0 0 transparent;
    border-radius: 40px 40px 38px 38px;
    content: " ";
    height: 60%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(1%);
    width: 98%;
    z-index: -1;
}
.paypal-button button.small {
    font-size: 12px;
    padding: 3px 15px;
}
.paypal-button button.large {
    font-size: 14px;
    padding: 4px 19px;
}

.paypal-button-div {
	text-align: center;
}