.active-anchor {
	color: #EC8526;
}
.invoice-status.paid {
    color:#1D7500;
    font-weight: bold;
    text-transform: uppercase;
}
.invoice-status.unpaid {
    color: #9a0000;
    font-weight: bold;
    text-transform: uppercase;
}

.invoice-status.pending {
    color: #FFAA00;
    font-weight: bold;
    text-transform: uppercase;
}
.invoice-status.declined {
    color: #950c12;
    font-weight: bold;
    text-transform: uppercase;
}