@charset "utf-8";
/* CSS Document */

.ivr-Menu {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.ivr-Menu table {
    width: auto !important;
}
.ivr-Menu .ivr-Menu-selector {
    height: 100%;
    position: relative;
    width: 100%;
}
.ivr-Menu .ivr-Menu-close-button {
    margin: 0 !important;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 2;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item-wrapper {
    float: left;
    width: 50%;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item-wrapper .padding-and-border {
    border-right: 1px solid #DDDDDD;
    padding: 4px;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item-wrapper .padding-and-border.last {
    border-right-width: 0 !important;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}
.ivr-Menu .ivr-Menu-selector a {
    text-decoration: none;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item:hover {
    background-color: #DDDDDD;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item {
    text-decoration: none;
}
.ivr-Menu .title {
    color: #40A4D9;
    font-weight: bold;
}
.ivr-Menu .description {
    color: #777777;
    font-weight: normal;
}
.ivr-Menu .ivr-Menu-editor {
    height: 100%;
    position: relative;
}
.ivr-Menu .ivr-Menu-editor .title-bar {
    border-bottom: 1px solid #C8C8C8;
    margin: 0;
    padding-bottom: 8px;
}
.ivr-Menu .ivr-Menu-editor .title-bar .editor-label {
    font-weight: bold;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-read-text {
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-read-text .voicemail-text {
    height: 60px;
    width: 95%;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-read-text button {
    float: right;
}
.ivr-Menu .ivr-Menu-current-value {
    border-radius: 2px 2px 2px 2px;
    height: 100%;
    position: relative;
    width: 100%;
}
.ivr-Menu .ivr-Menu-current-value td.left-indicator {
    background-color: #C8C8C8;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 8px 12px;
    white-space: nowrap;
}
.ivr-Menu .ivr-Menu-current-value td.right-indicator {
    background-color: #C8C8C8;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px 10px 8px 8px;
}
.ivr-Menu .ivr-Menu-current-value td.middle {
    padding: 4px 12px;
    vertical-align: middle !important;
    width: 100%;
}
.ivr-Menu .ivr-Menu-current-value td.middle .read-text {
    font-style: italic;
}
.ivr-Menu table.player {
    width: 250px !important;
}
.ivr-Menu table.player td {
    vertical-align: middle !important;
}
.ivr-Menu table.player td.player-cell {
    width: 100%;
}
.ivr-Menu .ivr-Menu-editor .ivr-audio-upload .upload-bar-container {
    padding: 10px;
    text-align: center;
}
.ivr-Menu .ivr-Menu-editor .ivr-audio-upload .upload-bar {
    background: none repeat scroll 0 0 #C3C3C3;
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    display: block;
    float: left;
    height: 20px;
    margin-top: 5px;
    width: 100%;
}
.ivr-Menu .ivr-Menu-editor .ivr-audio-upload .upload-progress-bar {
    background-color: #48C8E3;
    height: 20px;
    width: 0;
}
.ivr-Menu .ivr-Menu-editor .ivr-audio-upload .swfupload-container {
    background-color: #EEEEEE;
    height: 68px;
    margin-top: 6px;
    width: 100%;
}
.ivr-Menu .ivr-Menu-editor .ivr-audio-upload .swfupload-container.hover {
    background-color: #DDDDDD;
}
.ivr-Menu .ivr-Menu-editor .ivr-audio-upload .swfupload-control {
    height: 68px;
    position: relative;
    top: -68px;
    width: 100%;
    z-index: 1000;
}
.ivr-Menu .ivr-Menu-editor .ivr-audio-upload .swfupload-container .explanation {
    color: #40A4D9;
    font-weight: bold;
    height: 68px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-library table.player {
    width: 100% !important;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-library .empty-container {
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-library .chooser-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-library .chooser-container button {
    float: right;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-library select {
    width: 100%;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-record {
    height: 100%;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-record .error {
    border: 1px solid #999999;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-record .status table {
    margin-left: auto;
    margin-right: auto;
}
.ivr-Menu .ivr-Menu-editor .ivr-Menu-record td {
    padding: 4px;
    vertical-align: middle !important;
}

.ivrMenu-fieldset input.text {
    background: url("../images/form-input-text-300.png") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    font-size: 14px;
    height: 30px;
    margin-top: 3px;
    padding: 0 5px;
    width: 290px;
}
.ivrMenu-fieldset select {
    background: url("../images/form-input-text-300.png") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    font-size: 14px;
    height: 30px;
    margin-top: 3px;
    padding: 6px 5px 5px;
    width: 300px;
}
.ivrMenu-fieldset select option {
    padding: 4px 5px;
}
.ivrMenu textarea.medium {
    height: 60px;
    width: 546px;
}
.ivrMenu textarea.large {
    height: 140px;
    width: 546px;
}

.settings-panel .flowline-item-remove {
    bottom: 7px;
    cursor: pointer;
    display: block;
    height: 16px;
    left: 7px;
    position: absolute;
    width: 16px;
}

.ivr2-form .field-label.notice {
    background: none repeat scroll 0 0 #FAFAD2;
    border: 1px solid #FFD700;
    border-radius: 4px 4px 4px 4px;
    margin: 10px 0;
    padding: 10px;
}
.ivr2-input-container input.tiny {
    background: url("../images/form-input-text-50.png") no-repeat scroll left top transparent;
    border: medium none;
    
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    padding: 0 5px;
    width: 40px;
}
.ivr2-input-container input.small {
    background: url("../images/form-input-text-150.png") no-repeat scroll left top transparent;
    border: medium none;
    
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    padding: 0 5px;
    width: 140px;
}
.ivr2-input-container input.smedium {
    background: url("../images/form-input-text-200.png") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    padding: 0 5px;
    width: 190px;
}
.ivr2-input-container input.medium {
    background: url("../images/form-input-text-300.png") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    padding: 0 5px;
    width: 290px;
}
.ivr2-input-container input.large {
    background: url("../images/form-input-text-600.png") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    padding: 0 5px;
    width: 540px;
}
.ivr2-input-container textarea {
    display: block;
    margin: 3px 0 10px;
    padding: 4px 6px;
}
.ivr2-input-container textarea.small {
    height: 80px;
    width: 140px;
}
.ivr2-input-container textarea.medium {
    height: 80px;
    width: 290px;
}
.ivr2-input-container textarea.large {
    height: 80px;
    width: 540px;
}
.ivr2-input-complex {
    clear: both;
    overflow: auto;
}
.ivr2-input-complex .inline {
    display: inline !important;
}
.ivr2-input-complex .full {
    clear: both;
    display: block;
}
.ivr2-input-complex .left {
    float: left;
}
.ivr2-input-complex .field-label-left {
    float: left;
    line-height: 30px;
    margin-left: 5px;
}
.ivr2-input-complex .right {
    float: right;
}
.ivr2-input-file {
    border: 1px solid #999999;
    float: left;
    margin-bottom: 12px;
    overflow: auto;
    padding: 10px;
}
.ivr2-input-file label {
    margin: 0 !important;
}
.ivr2-input-file input {
    float: left;
    margin: 1px 5px 0 0 !important;
}
.ivr2-input-file button {
    float: left;
    margin: 0 !important;
}
.ivr2-input-container select {
    border: medium none;
    display: block;
    font-size: 14px;
    height: 30px;
    margin-top: 3px;
    padding: 6px 5px 5px;
}
.ivr2-input-container select.tiny {
    background: url("../images/form-input-text-50.png") no-repeat scroll left top transparent;
    width: 50px;
}
.ivr2-input-container select.small {
    background: url("../images/form-input-text-150.png") no-repeat scroll left top transparent;
    width: 150px;
}
.ivr2-input-container select.smedium {
    background: url("../images/form-input-text-200.png") no-repeat scroll left top transparent;
    width: 200px;
}
.ivr2-input-container select.medium {
    background: url("../images/form-input-text-300.png") no-repeat scroll left top transparent;
    width: 300px;
}
.ivr2-input-container select.large {
    background: url("../images/form-input-text-600.png") no-repeat scroll left top transparent;
    width: 600px;
}
.ivr2-input-container option {
    padding: 4px 5px;
}
.ivr2-form .field-label-checkbox, .ivr2-form .field-label-radio {
    background-color: #FFFFFF;
    color: #444444;
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin: 10px 20px 10px 0;
}
.ivr2-form .checkbox, .ivr2-form .radio {
    float: left;
    margin: 2px 5px 0 0;
}
.ivr2-form > fieldset {
    margin: 0 0 15px;
}
.ivr2-form .field-label-inline {
    margin: 0 15px 0 0;
}


.action {
    background: url("../images/action-icons-sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 24px;
    width: 24px;
	
}
.action-mini {
    background: url("../images/action-icons-mini-sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    width: 16px;
	overflow:hidden;
}
.add {
    background-position: 0 center;
}
.add-mini {
    background-position: 0 center;
}
.remove {
    background-position: -34px center;
}
.remove-mini {
    background-position: -21px center;
}
.trash {
    background-position: -68px center;
}
.trash-mini {
    background-position: -42px center;
}
.edit {
    background-position: -102px center;
}
.edit-mini {
    background-position: -63px center;
}
.close {
    background-position: -136px center;
}
.close-mini {
    background-position: -74px center;
}
.minimize {
    background-position: -170px center;
}
.choose {
    background-position: -204px center;
}
.flow {
    background-position: -238px center;
}
span.replace {
    display: none;
}


/*=================================================================*/

<!--===================-->
#ivr2-main {
    background-color: #333333;
    padding: 5px;
}

#hd:after, #bd:after, #ft:after, .yui-g:after, .yui-gb:after, .yui-gc:after, .yui-gd:after, .yui-ge:after, .yui-gf:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
#hd, #bd, #ft, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
element.style {
    cursor: auto;
}
body {
    text-align: center;
}
body {
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}
html {
    color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

table {
    font-size: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.ivrMenu {
    color: #555555;
    padding: 2px 2px 10px 0px;
}
.ivrMenu h2 {
    color: #444444;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 10px;
}
.ivrMenu {
    color: #555555;
}
.ivrMenu p {
    margin-bottom: 15px;
}
.ivr-Menu {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
fieldset, img {
    border: 0 none;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item {
    text-decoration: none;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item {
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}
.ivr-Menu .ivr-Menu-selector a {
    text-decoration: none;
}
.ivr-Menu {
    text-align: left;
}
.ivr-Menu .ivr-Menu-selector .ivr-Menu-selector-item-wrapper .padding-and-border {
    border-right: 1px solid #DDDDDD;
    padding: 4px;
}
.ivr-Menu .title {
    color: #40A4D9;
    font-weight: bold;
}
.ivr-Menu .description {
    color: #777777;
    font-weight: normal;
}
.ivrMenu .ivr2-menu-grid {
    margin-bottom: 20px;
}
.ivrMenu .ivr2-menu-grid td {
    border-bottom: 1px solid #555555;
    border-top: 1px solid #555555;
    color: #555555;
    padding: 5px 0;
    vertical-align: middle !important;
}
.ivr2-input-container input.tiny {
    background: url("../images/form-input-text-50.png") no-repeat scroll left top transparent;
    border: medium none;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    padding: 0 5px;
    width: 40px;
}
select, input, button, textarea, button {
    font: 99% arial,helvetica,clean,sans-serif;
}
input, button, textarea, select {
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
#start .add-new-item, #start .empty-item, #start .filled-item a.item-box {
    margin: 0 auto;
}
.settings-panel .empty-item {
    background-color: #FFFFFF;
    border: 1px dashed #555555;
    border-radius: 4px 4px 4px 4px;
    display: block;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 130px;
}
.settings-panel .empty-item {
    line-height: 60px;
    text-align: center;
}
.ivrMenu .ivr2-menu-grid td {
    color: #555555;
}
.ivrMenu .ivr2-menu-grid .action {
    float: right;
    margin-right: 10px;
}


.ivr2-content-menu .menu-item .add-button {
    float: left;
    height: 32px;
    margin: 0;
}


.ivrMenu h3 {
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0 0;
}
.ivrMenu .ivr2-full-pane {
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 10px;
}
.ivr2-input-complex {
    clear: both;
    overflow: auto;
}



.ivr_save {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}.ivr_save:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.block_content p{ margin:15px;}
.block_content input { margin-left:15px;}