/* jquery ui overrides some adminus styles, so we here get them back */

.invoice-settings-dialog label,
.add-client-dialog label,
.show-client-info-dialog label,
.integrate-paypal-dialog label {
    display: inline !important;
}

.invoice-settings-dialog input,
.add-client-dialog input,
.show-client-info-dialog input,
.integrate-paypal-dialog input {
    display: inline !important;
}

/* common dialog styles */

.ui-dialog {
    border-radius: 10px;
    border: 0 none;
    background-color: transparent;
}

.ui-dialog .block {
    margin-bottom: 0;
}

.ui-dialog .dialog-content {
    /*d*/
    overflow: visible;
}

.ui-dialog .bottom-buttons-div {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ui-dialog .ui-dialog-titlebar {
    display: none;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
    overflow: visible;
}

/* Invoice Settings dialog */

.invoice-settings-dialog {
    z-index: 10000 !important;
    overflow: visible;
}

.invoice-settings-dialog .color-option {
    margin-bottom: 25px;
}

.invoice-settings-dialog .color-preview {
    padding: 12px 50px;
    cursor: pointer;
    float: right;
}

.invoice-settings-dialog .color-wheel-wrapper {
    position: relative;
    float: right;
    display: none;
}

.invoice-settings-dialog .color-wheel {
    position: absolute;
    left: -117px;
    top: 25px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.invoice-settings-dialog #dialog-bottom-spacing {
    height: 200px;
}

/* Add Client dialog */

.add-client-dialog {
    z-index: 10000 !important;
}

.add-client-dialog .form-row {
    margin-bottom: 25px;
}

.add-client-dialog .input-label {
	float: left;
    width: 170px;
}

.add-client-dialog .block form select {
    font-size: 14px;
    padding: 3px;
}

.add-client-dialog #outgoing-numbers-div {
    float: left;
}

.add-client-dialog .left-col {
    float: left;
    width: 250px;
    margin-top: 5px;
}

.add-client-dialog .right-col {
    float: left;
    width: 250px;
    margin-top: 5px;
}

.clear-float {
    clear: both;
}

.add-client-dialog input.dialog-small-text {
    width: 100px !important;
    margin-bottom: 0 !important;
}

.add-client-dialog input.dialog-medium-text {
    width: 200px !important;
    margin-bottom: 0 !important;
}

.add-client-dialog #lead-gen-bill-by-phone-code-checkboxes-div {
	clear: none;
}

.add-client-dialog .ui-widget-content a {
    color: #008EE8;
}

/* Show Client Info dialog */

.show-client-info-dialog {
    z-index: 9000 !important;
}

.show-client-info-dialog .form-row {
    margin-bottom: 25px;
}

.show-client-info-dialog label {
	float: left;
	width: 170px;
}

.show-client-info-dialog .field-value {
	float: left;
	color: #333333;
    font-size: 14px;
    font-weight: bold;
}

/* Integrate Paypal dialog */

.integrate-paypal-dialog input.dialog-medium-text {
    width: 200px !important;
    margin-bottom: 0 !important;
}


.invoice-status.paid {
    color:#1D7500;
    font-weight: bold;
    text-transform: uppercase;
}
.invoice-status.unpaid {
    color: #9a0000;
    font-weight: bold;
    text-transform: uppercase;
}

.invoice-status.pending {
    color: #FFAA00;
    font-weight: bold;
    text-transform: uppercase;
}

.invoice-status.declined {
    color: #950c12;
    font-weight: bold;
    text-transform: uppercase;
}

.color-preview {
    border: 2px solid #000;
}



.ui-widget-overlay {
    height: 1500px !important;
    z-index: 1001 !important;
}