.breadcrumb {
    display: none;
}

#demo-settings-toggler, #signin-demo {
    display: none !important;
}

.fa-file-pdf-o:before {
    content: "\f1c1";
}

.font-grey {
    color: #CCCCCC;
}

.DT-lf-right {
    float: none !important;
}

.DT-lf-right .DT-per-page {
    border-right: 0px !important;
}

.DT-lf-right .DT-search {
    float: right !important;
}

.table-caption {
    display: none;
}

.dataTables_wrapper .table-header {
    padding-left: 10px;
}

.image-your-reputation{
    width: 208px;
    height: 222px;
    background: url('/images/reports/your-reputation.png') center center no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-your-reputation span.score{
    position: absolute;
    left: 35px;
    width: 140px;
    text-align: center;
    top: 100px;
    color: #fff;
    font-size: 50px;
    line-height: 30px;
}

.page-head .page-title {
    float: none;
    display: block;
}

.navbar-nav small {
    float: right;
    font-weight: bold;
    font-size: 16px;
}

.image-monthly-reviews{
    width: 208px;
    height: 222px;
    background: url('/images/reports/monthly_reviews.png') center center no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-monthly-reviews span.score{
    position: absolute;
    left: 35px;
    width: 140px;
    text-align: center;
    top: 100px;
    color: #fff;
    font-size: 50px;
    line-height: 26px;
}
.image-monthly-reviews span.score small{
    font-size: 16px;
}


.image-score-increase{
    width: 208px;
    height: 222px;
    background: url('/images/reports/score_increase.png') center center no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-score-increase span.score{
    position: absolute;
    left: 35px;
    width: 140px;
    text-align: center;
    top: 100px;
    color: #fff;
    font-size: 50px;
}


.image-review-increase{
    width: 208px;
    height: 222px;
    background: url('/images/reports/review_increase.png') no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-review-increase span.score{
    position: absolute;
    left: 35px;
    width: 140px;
    text-align: center;
    top: 100px;
    color: #fff;
    font-size: 50px;
}	



.image-online-review{
    width: 208px;
    height: 222px;
    background: url('/images/reports/total-online-reviews.png') center center no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-online-review span.score{
    position: absolute;
    left: 35px;
    width: 140px;
    text-align: center;
    top: 100px;
    color: #fff;
    font-size: 50px;
}	


.yellow-gradient{
    border: 1px solid #f49249;
}
.yellow-gradient .portlet-title{
    border-bottom: 1px solid #f49249!important;

    background: rgba(245,137,54,1);
    background: -moz-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,137,54,1)), color-stop(100%, rgba(207,109,11,1)));
    background: -webkit-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%);
    background: -o-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%);
    background: linear-gradient(to bottom, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58936', endColorstr='#cf6d0b', GradientType=0 );
}


.yellow-gradient-important{
    border: 1px solid #f49249!important;
}
.yellow-gradient-important .portlet-title{
    border-bottom: 1px solid #f49249!important;

    background: rgba(245,137,54,1)!important;
    background: -moz-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,137,54,1)), color-stop(100%, rgba(207,109,11,1)))!important;
    background: -webkit-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(245,137,54,1) 0%, rgba(207,109,11,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f58936', endColorstr='#cf6d0b', GradientType=0 )!important;
}



.green-gradient{
    border: 1px solid #99b85a;
}
.green-gradient .portlet-title{
    border-bottom: 1px solid #99b85a;

    background: rgba(142,184,26,1);
    background: -moz-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,184,26,1)), color-stop(100%, rgba(80,107,12,1)));
    background: -webkit-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%);
    background: -o-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%);
    background: -ms-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%);
    background: linear-gradient(to bottom, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb81a', endColorstr='#506b0c', GradientType=0 );
}



.green-gradient-important{
    border: 1px solid #99b85a!important;
}
.green-gradient-important .portlet-title{
    border-bottom: 1px solid #99b85a!important;

    background: rgba(142,184,26,1);
    background: -moz-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(142,184,26,1)), color-stop(100%, rgba(80,107,12,1)))!important;
    background: -webkit-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(142,184,26,1) 0%, rgba(80,107,12,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eb81a', endColorstr='#506b0c', GradientType=0 )!important;
}



.blue-gradient{
    border: 1px solid #015E82;
}
.blue-gradient .portlet-title{
    border-bottom: 1px solid #015E82!important;

    background: #1891c3;
    background: -moz-linear-gradient(top,  #1891c3 0%, #0f7eab 50%, #015e82 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1891c3), color-stop(50%,#0f7eab), color-stop(100%,#015e82));
    background: -webkit-linear-gradient(top,  #1891c3 0%,#0f7eab 50%,#015e82 100%);
    background: -o-linear-gradient(top,  #1891c3 0%,#0f7eab 50%,#015e82 100%);
    background: -ms-linear-gradient(top,  #1891c3 0%,#0f7eab 50%,#015e82 100%);
    background: linear-gradient(to bottom,  #1891c3 0%,#0f7eab 50%,#015e82 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1891c3', endColorstr='#015e82',GradientType=0 );
}


.red-gradient{
    border: 1px solid #8D1104;
}
.red-gradient .portlet-title{
    border-bottom: 1px solid #015E82!important;

    background: #8D1104;
    background: -moz-linear-gradient(top,  #d52016 0%, #cb1e15 22%, #ba1a0e 52%, #8d1104 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d52016), color-stop(22%,#cb1e15), color-stop(52%,#ba1a0e), color-stop(100%,#8d1104));
    background: -webkit-linear-gradient(top,  #d52016 0%,#cb1e15 22%,#ba1a0e 52%,#8d1104 100%);
    background: -o-linear-gradient(top,  #d52016 0%,#cb1e15 22%,#ba1a0e 52%,#8d1104 100%);
    background: -ms-linear-gradient(top,  #d52016 0%,#cb1e15 22%,#ba1a0e 52%,#8d1104 100%);
    background: linear-gradient(to bottom,  #d52016 0%,#cb1e15 22%,#ba1a0e 52%,#8d1104 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d52016', endColorstr='#8d1104',GradientType=0 );

}



.portlet-body.yellow, .portlet.yellow{
    background-color: #CF8B05!important; 
}


.image-your-reputation-small{
    width: 180px;
    height: 199px;
    background: url('/images/reports/your-reputation-small.png') center center no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-your-reputation-small span.title{
    position: absolute;
    left: -10px;
    top: 44px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 198px;
    height: 55px;
}
.image-your-reputation-small span.score{
    position: absolute;
    left: 50px;
    top: 95px;
    width: 80px;
    color: #fff;
    font-size: 50px;
    text-align: center;
}	



.image-total-online-reviews{
    width: 164px;
    height: 187px;
    background: url('/images/reports/total-online-reviews-medium.png') center center no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-total-online-reviews span.title{
    position: absolute;
    left: 22px;
    top: 97px;
    background-color: transparent;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
.image-total-online-reviews span.score{
    position: absolute;
    width: 115px;
    left: 25px;
    top: 43px;
    color: #fff;
    font-size: 50px;
    text-align: center;
}



.image-total-online-reviews-small{
    width: 176px;
    height: 202px;
    background: url('/images/reports/total-online-reviews-small.png') center center no-repeat;
    position: relative;
    margin: 0px auto;
}
.image-total-online-reviews-small span.title{
    position: absolute;
    left: 23px;
    top: 108px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.image-total-online-reviews-small span.score{
    position: absolute;
    width: 120px;
    left: 27px;
    top: 55px;
    color: #fff;
    font-size: 60px;
    text-align: center;
}	


.image-analysis-box{
    width: 244px;
    height: 278px;
    background: url('/images/reports/box-yellow.png') center center no-repeat;
    position: relative;
}
.image-analysis-box.green{
    background-image: url('/images/reports/box-green.png');
}
.image-analysis-box.red{
    background-image: url('/images/reports/box-red.png');
}

.image-analysis-box span.title{
    position: absolute;
    left: 0px;
    top: 148px;
    width: 240px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.image-analysis-box span.score{
    position: absolute;
    left: 110px;
    top: 60px;
    color: #fff;
    font-size: 60px;
    text-align: center;
    min-width: 50px;
}

.image-analysis-box span.help{
    position: absolute;
    left: 0px;
    top: 110px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    width: 240px;
}

.image-analysis-box span.icon{
    position: absolute;
    left: 55px;
    top: 40px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
.image-analysis-box span.icon.row-up{
    width: 55px;
    height: 65px;
    background-image: url('/images/reports/row-up-4.png');
}
.image-analysis-box span.icon.plus{
    left: 45px;
    width: 71px;
    height: 72px;
    background-image: url('/images/reports/plus-2.png');
}
.image-analysis-box span.icon.slash{
    width: 58px;
    height: 69px;
    background-image: url('/images/reports/slash.png');
}
.image-analysis-box span.icon.minus{
    top: 45px;
    width: 55px;
    height: 56px;
    background-image: url('/images/reports/minus-2.png');
}


.report-socila-network-box, .report-socila-network-box:hover{
    height: 100px;

    cursor: default;
    background: transparent!important;
    border: 0px!important;

    text-shadow: none!important;

    color: #fff!important;
    font-size: 30px;
    line-height: 110px;
}

.report-socila-network-box-info .person{
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}

.report-socila-network-box-info .stars{
    position: relative;
    height: 70px;
    padding-left: 10px;
}
.report-socila-network-box-info .stars img{
    margin-left: 3px;
}
.report-socila-network-box-info .stars .total{
    position: absolute;
    left: 0px;
    bottom: 5px;

    font-size: 20px;
    /*color: #6296C7;*/
    color: #000;
    font-weight: bold;
    padding-left: 15px;
}
.report-socila-network-box-info .stars .total.off{
    color: #999;
}

.report-socila-network-box.facebook, .report-socila-network-box.facebook:hover{
    background: url('/images/reports/facebook2.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.twitter, .report-socila-network-box.twitter:hover{
    background: url('/images/reports/twitter.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.linkedin, .report-socila-network-box.linkedin:hover{
    background: url('/images/reports/linkedin.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.flickr, .report-socila-network-box.flickr:hover{
    background: url('/images/reports/flickr.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.foursquare, .report-socila-network-box.foursquare:hover{
    background: url('/images/reports/foursquare.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.photobucket, .report-socila-network-box.photobucket:hover{
    background: url('/images/reports/photobucket.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.pinterest, .report-socila-network-box.pinterest:hover{
    background: url('/images/reports/pinterest.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.youtube, .report-socila-network-box.youtube:hover{
    background: url('/images/reports/youtube.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.dailymotion, .report-socila-network-box.dailymotion:hover{
    background: url('/images/reports/dailymotion.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.metacafe, .report-socila-network-box.metacafe:hover{
    background: url('/images/reports/metacafe.png') no-repeat center center!important;
    background-size: contain!important;
}

.report-socila-network-box.facebook.gray, .report-socila-network-box.facebook.gray:hover{
    background: url('/images/reports/facebook_bw2.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.twitter.gray, .report-socila-network-box.twitter.gray:hover{
    background: url('/images/reports/twitter_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.linkedin.gray, .report-socila-network-box.linkedin.gray:hover{
    background: url('/images/reports/linkedin_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.flickr.gray, .report-socila-network-box.flickr.gray:hover{
    background: url('/images/reports/flickr_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.foursquare.gray, .report-socila-network-box.foursquare.gray:hover{
    background: url('/images/reports/foursquare_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.photobucket.gray, .report-socila-network-box.photobucket.gray:hover{
    background: url('/images/reports/photobucket_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.pinterest.gray, .report-socila-network-box.pinterest.gray:hover{
    background: url('/images/reports/pinterest_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.youtube.gray, .report-socila-network-box.youtube.gray:hover{
    background: url('/images/reports/youtube_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.dailymotion.gray, .report-socila-network-box.dailymotion.gray:hover{
    background: url('/images/reports/dailymotion_bw.png') no-repeat center center!important;
    background-size: contain!important;
}
.report-socila-network-box.metacafe.gray, .report-socila-network-box.metacafe.gray:hover{
    background: url('/images/reports/metacafe_bw.png') no-repeat center center!important;
    background-size: contain!important;
}




.report-social-netowrk-progress .image{
    clear:both;
    margin-bottom: 10px;
    height: 67px;
    /*width: 67px;*/
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain!important;
}
.report-social-netowrk-progress.facebook .image{
    background-image: url('/images/reports/facebook-logo-small-2.png');
}
.report-social-netowrk-progress.facebook .image.off{
    background-image: url('/images/reports/facebook-logo-small-off-2.png');
}

.report-social-netowrk-progress.twitter .image{
    background-image: url('/images/reports/twitter-logo-small.png');
}
.report-social-netowrk-progress.twitter .image.off{
    background-image: url('/images/reports/twitter-logo-small-off.png');
}

.report-social-netowrk-progress.linkedin .image{
    background-image: url('/images/reports/linkedin-logo-small.png');
}
.report-social-netowrk-progress.linkedin .image.off{
    background-image: url('/images/reports/linkedin-logo-small-off.png');
}

.report-social-netowrk-progress.flickr .image{
    background-image: url('/images/reports/flickr-logo-small-2.png');
}
.report-social-netowrk-progress.flickr .image.off{
    background-image: url('/images/reports/flickr-logo-small-off-2.png');
}

.report-social-netowrk-progress.foursquare .image{
    background-image: url('/images/reports/foursquare-logo-small.png');
}
.report-social-netowrk-progress.foursquare .image.off{
    background-image: url('/images/reports/foursquare-logo-small-off.png');
}

.report-social-netowrk-progress.photobucket .image{
    background-image: url('/images/reports/photobucket-logo-small.png');
}
.report-social-netowrk-progress.photobucket .image.off{
    background-image: url('/images/reports/photobucket-logo-small-off.png');
}

.report-social-netowrk-progress.pinterest .image{
    background-image: url('/images/reports/pinterest-logo-small.png');
}
.report-social-netowrk-progress.pinterest .image.off{
    background-image: url('/images/reports/pinterest-logo-small-off.png');
}

.report-social-netowrk-progress.youtube .image{
    background-image: url('/images/reports/youtube-logo-small-2.png');
}
.report-social-netowrk-progress.youtube .image.off{
    background-image: url('/images/reports/youtube-logo-small-off-2.png');
}

.report-social-netowrk-progress.dailymotion .image{
    background-image: url('/images/reports/dailymotion-logo-small.png');
}
.report-social-netowrk-progress.dailymotion .image.off{
    background-image: url('/images/reports/dailymotion-logo-small-off.png');
}

.report-social-netowrk-progress.metacafe .image{
    background-image: url('/images/reports/metacafe-logo-small.png');
}
.report-social-netowrk-progress.metacafe .image.off{
    background-image: url('/images/reports/metacafe-logo-small-off.png');
}


.report-social-netowrk-progress .progress{
    margin-top: 0px;
    margin-left: 5px;
    height: 36px;
    background: #E0E0E0;

    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.5);
    font-size: 20px;
    line-height: 35px;
}
.report-social-netowrk-progress .progress .progress-bar{
    height: 100%;
    text-align: center;
    color: #fff;
    min-width: 50px;
}
.progress-bar span {
    position: absolute;
    z-index: 2;
    color: #fff;
    padding-left:5px;
}
.report-social-netowrk-progress.facebook .progress .progress-bar{
    background: #3E567A;
}
.report-social-netowrk-progress.twitter .progress .progress-bar{
    background: #43B8E1;
}
.report-social-netowrk-progress.linkedin .progress .progress-bar{
    background: #1F89BB;
}


.report-ballon-review-shared{
    height: 370px;
    width: 100%;

    background: #EF562F;
    color: #fff;

    -webkit-border-radius: 100px 0 100px 0!important;
    border-radius: 100px 0 100px 0!important;
}
.report-ballon-review-shared .top-text{
    font-size: 50px;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    line-height: 65px;
}

.report-ballon-review-shared .bottom-text{
    margin-top: 30px;
    font-size: 28px;
    color: #fff;
    text-align: left;
    padding-left: 10px;
    line-height: 30px;
}


.report-ballon-review-reached{
    margin-top: 10px;
    height: 170px;
    width: 80%;

    background: #EF562F;
    color: #fff;

    -webkit-border-radius: 0 100px 100px 100px!important;
    border-radius: 0 100px 100px 100px!important;
}
.report-ballon-review-reached .text{
    padding-top: 18px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.report-ballon-review-reached .text strong{
    font-size: 35px;
    text-shadow: 1px 1px 2px #000000;
}



.panel-review-collected{
    text-align: center;
}
.panel-review-collected h3{
    line-height: 35px;
    font-weight: bold;
    font-size: 25px;
}
.panel-review-collected.green h3{
    color: #5B9F43;
}
.panel-review-collected.yellow h3{
    color: #E08326;
}
.panel-review-collected.red h3{
    color: #D12126;
}

.panel-review-collected .easy-pie-chart .easyPieChart{
    margin: 0px auto
}




.total-collected-feedback_filter input{
    background: #ffffff;
}


.report-social-cloud{
    line-height: 40px;
    text-align: center;
}
.report-social-cloud span{
    margin-right: 15px;
}


.report-social-network-panel2{
    height: 390px;
    margin-bottom: 20px;

    background: #b8ffef; /* Old browsers */
    background: -moz-linear-gradient(top,  #b8ffef 0%, #ffffff 46%, #ccfef3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8ffef), color-stop(46%,#ffffff), color-stop(100%,#ccfef3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b8ffef 0%,#ffffff 46%,#ccfef3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b8ffef 0%,#ffffff 46%,#ccfef3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b8ffef 0%,#ffffff 46%,#ccfef3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b8ffef 0%,#ffffff 46%,#ccfef3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ffef', endColorstr='#ccfef3',GradientType=0 ); /* IE6-9 */

}

.report-social-network-panel2 .top-line{
    height: 150px;
    padding-top: 20px;
}
.report-social-network-panel2 .top-line .people{
    display: inline-block;
    margin-left: 20px;
    width: 118px;
    height: 84px;
    margin-top: 40px;

    background: url('/images/reports/sn-image-1.png') no-repeat;
}
.report-social-network-panel2 .top-line .review-shared{
    display: inline-block;
    margin-left: 20px;
}
.report-social-network-panel2 .top-line .review-shared .number{
    display: inline-block;
    color: #a53411;
    font-size: 100px;
    font-weight: bold;
    line-height: 110px;
    margin-right: 15px;
    width: 150px;
    text-align: right;
}
.report-social-network-panel2 .top-line .review-shared .text{
    display: inline-block;
    font-size: 50px;
    line-height: 50px;
    color: #0480b7;
    font-weight: bold;
}
.report-social-network-panel2 .top-line .review-shared .text span{
    display: block;
}
.report-social-network-panel2 .top-line .review-shared .text span.small{
    font-size: 31px;
    line-height: 33px;
    font-weight: normal;
    color: #39a6d7;
}

.report-social-network-panel2 .top-line .reached{
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}
.report-social-network-panel2 .top-line .reached .reached-text{
    margin-top: 30px;
    text-align: center;

    color: #0480b7;
    font-size: 35px;
    font-weight: bold;
}
.report-social-network-panel2 .top-line .reached .balloon{
    position: relative;
    display: inline-block;
    width: 400px;
    height: 100px;
    vertical-align: bottom;

    text-align: center;

    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;

    background: #ffa443; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffa443 0%, #ff7400 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa443), color-stop(99%,#ff7400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffa443 0%,#ff7400 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffa443 0%,#ff7400 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffa443 0%,#ff7400 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffa443 0%,#ff7400 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa443', endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */

}
.report-social-network-panel2 .top-line .reached .balloon span.text{
    font-size: 70px;
    line-height: 90px;

    font-weight: bold;
    color: #fff;

    text-shadow: 2px 1px 1px #c66300;
}
.report-social-network-panel2 .top-line .reached .balloon .arrow-down{
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #ff7400;
}

.report-social-network-panel2 .bottom-line{
    margin: 70px auto 0px;
    text-align: center;
}
.report-social-network-panel2 .bottom-line img{
    margin-right: 10px;	
}


.reports-reputation-statistics tr.summary{
    background: #eee;
}

.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

div.dashboard_box {
    padding: 10px;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.dashboard-stat.blue-ebonyclay {
    position: relative;
}

.dashboard-stat .details {
    right: 0px;
    left: 0px;
    padding-right: 0px;
    width: 100%;
}

.dashboard-stat.blue-ebonyclay .details .desc {
    padding-right: 0px !important;
}

table tr th:last-child,
table tr td:last-child {
    width: 150px !important;
    max-width: none !important;
}

/*------ Responsive ------*/
@media (max-width: 991px) {
    div.portlet-body div.col-md-7 {
        margin-top: 10px;
    }

    div.portlet-body.form div.form-horizontal div.form-group div.col-md-2 {
        text-align: left !important;
        padding-top: 10px !important;
        display: block;
        clear: both;
    }

    div.portlet-body.form div.form-horizontal div.form-group div.col-md-4 {
        text-align: left !important;
        padding-top: 0px !important;
    }

    div.portlet-body.form div.form-horizontal div.form-group div.col-md-2>div>div {
        margin-left: 0px !important;
    }

    .form-horizontal .form-group {
        margin-left: 0px;
        margin-right: 0px;
    }

    h1 {
        margin-top: 20px !important;
    }

    div.row div.col-md-3 {
        text-align: left !important;
    }
}

@media (max-width: 960px) {
    table tr td:not(:first-child):not(:last-child):not(:nth-child(2)),
    table tr th:not(:first-child):not(:last-child):not(:nth-child(2)) {
        display: none;
    }

    table tr th:last-child,
    table tr td:last-child {
        width: auto !important;
    }

    div.dataTables_wrapper div.col-md-5.col-sm-12 {
        height: 30px;
    }

    table tr td, table tr th {
        width: auto !important;
    }
}

@media (max-width: 750px) {
    table tr td, table tr th {
        display: block;
        border-bottom: 0px;
        border-right: 0px;
        border-left: 0px;
    }

    table thead tr:first-child {
        display: none;
    }

    table tr td:not(:first-child):not(:last-child):not(:nth-child(2)),
    table tr th:not(:first-child):not(:last-child):not(:nth-child(2)) {
        display: none;
    }

    div.dashboard-stat {
        margin-bottom: 10px !important;
    }

    .modal-open .modal {
        width: 100%;
    }

    div.btn-group {
        display: block;
    }

    div.btn-group a.btn, div.btn-group button:not(.btn-small) {
        margin-bottom: 5px;
        display: block;
        width: 100%;
    }

    label {
        display: block;
    }

    div.form-group a.btn.bg-red-pink {
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
        margin-left: 0px;
        padding-left: 0px;
    }

    .radio-inline {
        display: block !important;
    }
}

@media (max-width: 550px) {
    .page-head .page-title > h1 {
        font-size: 16px;
        display: block;
        text-align: center;
        float: none;
    }

    .page-head .page-title > h1 > small {
        font-size: 13px;
        display: block;
        text-align: center;
        float: none;
    }

    div {
        word-wrap: break-word;
    }

    .portlet > .portlet-title > .caption,
    .portlet > .portlet-title > .tools {
        display: block;
        float: none;
        text-align: center;
    }
}

@media (max-width: 350px) {
    .form button {
        font-size: 12px;
        padding: 7px 5px;
    }

    .page-head .page-title > h1 > small {
        font-size: 13px;
        display: block;
        text-align: center;
        float: none;
    }
}


/*------ Responsive ------*/