
    

    <div id="map" style="height: 400px;"></div>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZWqW7aJrwxQ4MeN10zXxap5a3lHl4iAI&sensor=true"></script>
    <script src="https://google-maps-utility-library-v3.googlecode.com/svn-history/r354/trunk/markerclustererplus/src/markerclusterer_packed.js"></script>

    <script type="text/javascript">
	   var map = null;
	   var pics = null;
	   var markerClusterer = null;
	   var markers = [];

	   var AMC = {
	     init: function() {
	     	
	     }
	   }
	   window.AMC = AMC || window.AMC;

	 	$(document).ready(function() {
			var centerPosition = new google.maps.LatLng(50.944282, 3.647766);
            var markers = [];

            var options = {
                zoom: 5,
                center: centerPosition,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map($('#map')[0], options);
		});
	 </script>
