
<script src="http://jvectormap.com/js/jquery-1.8.2.min.js"></script>
<script src="jquery-jvectormap-2.0.3.min.js"></script>
<link href="jquery-jvectormap-2.0.3.css" rel="stylesheet" type="text/css" />

<div id="map" style="width: 720px; height: 460px"></div>

<script>
	$(function(){
	  new jvm.MultiMap({
	    container: $('#map'),
	    maxLevel: 1,
	    main: {
	      map: 'us_lcc_en'
	    },
	    mapUrlByCode: function(code, multiMap){
	      return 'http://jvectormap.com/js/us-counties/jquery-jvectormap-data-'+
	             code.toLowerCase()+'-'+
	             multiMap.defaultProjection+'-en.js';
	    }
	  });
	});
</script>